{% extends 'layout.twig' %}
{% import "macro/forms.twig" as forms %}
{% if session.logged_user == null %}{% endif %}
{% block head %}
    <title>
        Tous les post
                                            
                                    
                            
                    
            
    </title>
{% endblock %}
{% block content %}
    <div class="text-center">
    <h1>
        Tous les posts   
                
            
    </h1>
    <a type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#createPost" role="button">
        Création d'un post
    </a>
    </div>
    {% include 'modal/postCreateModal.twig' %}  
    <div class="row d-flex flex-column align-content-center">
        {% for p in post.post %}
            <div class="card m-5" >
                {% include 'add/postOne.twig' %}
                <div class="modal fade " id="read{{ p.id }}" tabindex="-1" aria-hidden="true">
                    {% include 'modal/postRead.twig' %}
                </div>
                    <div class="modal fade " id="vue{{ p.id }}" tabindex="-1" aria-hidden="true">
                        {% include 'modal/postModifModal.twig' %}
                    </div>

                {% for c in count %}
                    {% if p.id == c.0 %}
                        {{ c.1 }}
                        Commentaire(s).
   
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
