<footer>
        <div class="bg-dark text-white text-center fixed-bottom">
                Copyright &copy;
                <a href="https://insight.symfony.com/projects/45f8fbf4-057d-4ebc-9cdf-72ffbebc412b/analyses/37" target="_blank"><img src="https://insight.symfony.com/projects/45f8fbf4-057d-4ebc-9cdf-72ffbebc412b/small.svg"/></a>
        </div>
</footer>
