{% import "macro/forms.twig" as forms %}
<div class="modal-dialog modal-dialog-centered">
  <form action="commentUpdate?action=commentUpdate&id={{ c.id }}&key={{ c.id_post }}" method="post">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Changer votre commentaire
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ forms.textarea('', 'upContent', c.content, 5, 60) }}
        {{ forms.csrf }}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
          Enregistrer
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Annulé
        </button>
      </div>
    </div>
  </form>
</div>
