{% import "macro/forms.twig" as forms %}
<div class="modal fade" id="login" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title " id="exampleModalToggleLabel">
          Connection
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="?action=connectSend" method="post">
          <div>
            {{ forms.login('Votre Email :', 'email', null, 'email') }}
          </div>
          <div>
            {{ forms.password('Mot de passe', 'password', null, 'password', 8, '(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}' ) }}
            {{ forms.csrf }}
          </div>
          <div class="mt-2">
            Le mot de passe doit :
                        
            <ul>
              <li>
                Avoir 8 caractères minimum
                                
              </li>
              <li>
                Contenir minimum 1 minuscule et majuscule
                                
              </li>
              <li>
                Contenir minimum 1 chiffre
                                
              </li>
            </ul>
          </div>
          <div>
            <button class="button-login btn btn-outline-success" type="submit">
              Connection
                        
            </button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class=" btn btn-outline-primary" data-bs-target="#create" data-bs-toggle="modal" data-bs-dismiss="modal">
          Créer un compte
        </button>
      </div>
    </div>
  </div>
</div>
{% include 'modal/loginCreateModal.twig' %}
