{% import "macro/forms.twig" as forms %}
<div class="modal fade" id="create" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel2">Création d'un compte</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="post?action=connectCreateSend" method="post">
          <div>
          {{ forms.input('Votre email','email', null, 'email')}}
        </div>
        <div>
          {{ forms.password('Mot de passe', 'password', null, 'password', 8, '(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}' )}}</br>
          {{ forms.password('Vérification du Mot de passe', 'password2', null, 'password', 8, '(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}' )}}
          {{ forms.csrf }}
      </div>
      <div class="mt-2">
            Le mot de passe doit :
            <ul>
                <li>
                    Avoir 8 caractères minimum
                </li>
                <li>
                    Contenir minimum 1 minuscule et majuscule
                </li>
                <li>
                    Contenir minimum 1 chiffre
                </li>
            </ul>
        </div>
      <div>
        <button class="btn btn-outline-success" type="submit">
          Valider
          </button>
      </div>
      </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-primary" data-bs-target="#login" data-bs-toggle="modal" data-bs-dismiss="modal">Se connecter</button>
      </div>
    </div>
  </div>
</div>